@import "variables";

footer {
  background-color: $color-whitish;
  border-top: 1px solid $color-blackish;

  #fp-wrapper {
    @extend %optimal-width;
    padding-top: 0.5em;
    padding-bottom: 1em;
    //height: 3em;

    display: grid;
    grid-template-areas: ". song-name song-name" "control progress volume";
    grid-template-columns: 4em 1fr min-content;
    grid-template-rows: 1.75em 2.5em;
    grid-row-gap: 0.1em;

    @media screen and (max-width: $break-width) {
      grid-template-areas: "control song-name" "progress volume";
      grid-template-rows: 2em 0;
      padding: 0.5em 0;

      #fp-song-name {
        line-height: 2rem;
      }

      #fp-volume {
        display: none;
      }
    }

    #fp-info {
      display: contents;

      #fp-song-name {
        grid-area: song-name;
        font-size: 1.25em;
        font-weight: bold;
        color: $color-blackish;

        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }

    #fp-controls {
      display: contents;

      #fp-media-control {
        grid-area: control;
        display: flex;

        #fp-play-pause, #fp-next {
          flex-grow: 1;
        }

        #fp-play-pause::after, #fp-next::after {
          display: block;
          width: 100%;
          content: "\A0";
          height: 100%;
          cursor: pointer;
        }

        #fp-play-pause::after {
          background: url(/img/player/play-pause.svg) no-repeat center;
          background-size: contain;
        }

        #fp-next::after {
          background: url(/img/player/next.svg) no-repeat center;
          background-size: contain;
        }

      }

      #fp-progress-wrapper {
        grid-area: progress;
        background-color: $color-light-gray;
        border-radius: 0.25em;

        #fp-progress {
          background-color: steelblue;
          height: 100%;
          width: 0;
          border-radius: inherit;
        }
      }

      #fp-volume {
        grid-area: volume;
        height: 100%;
      }
    }
  }
}