.dd-form {
  div {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-bottom: 1em;

    button {
      height: 2.5em;
    }

    &.invalid-input {
      background-color: tomato;
      color: white;
      padding: 0.75em;
      border-radius: 0.25em;

    }

    &.info {
      background-color: dodgerblue;
      color: white;
      padding: 0.75em;
      border-radius: 0.25em;

    }

    textarea {
      resize: none;
    }
  }
}