#popup-wrapper {
  &:empty {
    display: none;
  }

  display: flex;
  align-items: center;
  justify-content: center;

  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background-color: rgba(black, 0.5);

  .popup-holder {
    width: 80%;
    height: 80%;
    background-color: whitesmoke;
    grid-area: popup;
    overflow: auto;

    .popup-header {
      background-color: steelblue;
      overflow: hidden;
      padding: 1rem;
      color: whitesmoke;

      display: flex;
      justify-content: space-between;

      &::after {
        width: 4rem;
        cursor: pointer;
        margin-left: 1rem;
        content: "\A0";
        background-color: white;
        mask: url(/img/other/close.svg) no-repeat center;
        mask-size: contain;
      }
    }

    .popup-content {
      padding: 1rem;
      display: flex;
      flex-direction: column;

      ul {
        padding: 0;
        display: inherit;
        flex-direction: inherit;

        li {
          list-style: none;

          button {
            width: 100%;
          }
        }
      }
    }
  }
}