@import "variables";

.song-item {
  display: flex;

  .song-preview {
    display: flex;
    align-items: center;

    flex-shrink: 0;

    width: 10em;
    overflow: hidden;
    margin: 1em;

    position: relative;

    @media screen and (max-width: $break-width) {
      width: 5em;
      margin: 0;
    }

    &:hover::after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: "\A0";
      background: url(/img/media/play.svg) no-repeat center;
      background-size: contain;
      cursor: pointer;

    }

    &.playing:hover::after {
      background-image: url(/img/media/pause.svg);
    }

    img {
      border-radius: 25%;
    }
  }

  .song-info {
    display: grid;
    grid-template-areas: "name set" "author edit";
    grid-template-columns: 1fr min-content;
    grid-template-rows: min-content 1fr;
    grid-gap: 1em;

    margin: 1em;
    flex-grow: 1;
    flex-shrink: 1;
    overflow: hidden;


    .song-name, .song-author, .song-edit, .song-add-set, .song-remove-set {
      margin: 0;
      color: $color-blackish;

      a {
        color: inherit;
        text-decoration: inherit;
      }
    }

    .song-name {
      grid-area: name;
      word-wrap: break-word;
      word-break: break-word;
      min-width: 0;

      font-weight: bold;
      font-size: 2em;
    }

    .song-author {
      grid-area: author;

      font-size: 1.5em;
      font-weight: bold;
    }

    .song-edit {
      grid-area: edit;
      display: flex;
      justify-content: right;

      white-space: normal;
      font-size: 1.17em;
      font-weight: bold;
    }

    .song-add-set, .song-remove-set {
      grid-area: set;
      text-align: right;

      white-space: nowrap;
    }

    @media screen and (max-width: $break-width) {
      font-size: 0.8em;

      grid-template-areas: "name name" "author edit" "set .";
      grid-template-rows: min-content;

      .song-add-set, .song-remove-set {
        text-align: initial;
      }
    }
  }
}

.set-item {
  display: grid;
  grid-template-areas: "name edit" "author .";
  grid-template-columns: 1fr min-content;
  grid-gap: 1em;

  margin: 1em;

  .set-name, .set-author, .set-edit {
    margin: 0;
    color: $color-blackish;

    a {
      color: inherit;
      text-decoration: inherit;
    }
  }


  .set-name {
    grid-area: name;
    font-size: 2em;
    font-weight: bold;
  }

  .set-author {
    grid-area: author;
    font-size: 1.5em;
    font-weight: bold;
  }

  .set-edit {
    grid-area: edit;
    font-size: 1.17em;
    font-weight: bold;
  }
}