%optimal-width {
  width: calc((100% - 800px) / 2 + 800px);
  max-width: 100%;
  margin: auto;
}

$color-main: steelblue;
$color-whitish: whitesmoke;
$color-blackish: #333;
$color-light-gray: gainsboro;

$break-width: 600px;