@import "pages/signup";
@import "pages/login";
@import "pages/upload";
@import "pages/song_edit";
@import "pages/new_set";
@import "variables";
@import "form";
@import "song";
@import "popup";
@import "footer";

body {
  margin: 0;
  font-family: sans-serif;

  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

header {
  background-color: $color-main;

  .header-wrapper {
    @extend %optimal-width;
    box-sizing: border-box;
    color: white;
    padding: 1em;

    display: flex;

    @media screen and (max-width: $break-width) {
      padding: 0.5em 1em;
      flex-direction: column;
    }

    .logo {
      font-size: 2em;
      flex-grow: 1;
      flex-shrink: 0;
      margin-right: 1em;

      a {
        color: $color-whitish;
        text-decoration: none;
      }

      @media screen and (max-width: $break-width) {
        font-size: 1.5em;
        margin-right: 0;
        margin-bottom: 0.2em;
        text-align: center;
      }
    }

    .buttons {
      display: flex;
      align-items: center;
      flex-wrap: wrap;

      .button-style {
        color: $color-whitish;
        text-decoration: inherit;

        padding: 0.5em;
        border-radius: 0.5em;
        background-color: darken($color-main, 10%);
        border: 2px solid $color-blackish;

        &:not(:last-child) {
          margin-right: 1em;
        }
      }

      @media screen and (max-width: $break-width) {
        justify-content: space-around;

        .button-style {
          padding: 0.25em;

          &:not(:last-child) {
            margin-right: 0.5em;
          }
        }
      }
    }
  }

}

main {
  padding: 1em;
  overflow: auto;
  flex-grow: 1;

  > div {
    width: calc((100% - 800px) / 2 + 800px);
    max-width: 100%;
    margin: auto;
  }


  h1, h2, h3 {
    color: $color-blackish;
  }
}