<div id="song-edit">
    <h1>Edit song</h1>
    <form id="edit-form" class="dd-form">
        <div id="ef-info" class="info">
            The song info is being processed. This page will reload automatically.
        </div>
        <div>
            <label for="ef-name">Name:</label>
            <input type="text" id="ef-name" name="name" required placeholder="How is your song called?" value="{{ song.name_friendly }}">
        </div>
        <div>
            <label for="ef-url-name">URL name:</label>
            <input type="text" id="ef-url-name" name="url-name" required disabled value="{{ song.name }}"
                   placeholder="That's the URL that you song will have, {{ urls.this }}/{{ user.name }}/[song-url]">
        </div>
        <div>
            <label for="ef-image">Image:</label>
            <input type="file" id="ef-image" name="image">
        </div>
        <div>
            <label for="ef-description">Description:</label>
            <textarea id="ef-description" name="description" rows="5"
                      placeholder="Enter a nice description for the song">{{ song.description }}</textarea>
        </div>
        <div>
            <label for="ef-date">Release date:</label>
            <input type="date" id="ef-date" name="date" value="{{ song.release_date }}">
        </div>
        <div>
            <button id="ef-send" name="send">Update</button>
        </div>
    </form>
</div>
