<div id="login">
    <h1>Log-in</h1>
    <form id="login-form" class="dd-form">
        <div id="lf-info" class="info"></div>
        <div>
            <label for="lf-username">Username:</label>
            <input type="text" id="lf-username" name="name" required>
        </div>
        <div>
            <label for="lf-password">Password:</label>
            <input type="password" id="lf-password" name="password" required>
        </div>
        <div id="lf-invalid" class="invalid-input">
            Username and/or password are wrong. Please try again.
        </div>
        <div class="button">
            <button type="submit">Log-in</button>
        </div>
    </form>
</div>
