<div id="new-set">
    <h1>New Set</h1>
    <form id="new-set-form" class="dd-form">
        <div id="sf-error" class="invalid-input">
                    <span>
                        An error occurred:
                    </span>
            <span id="sf-error-info"></span>
        </div>
        <div>
            <label for="sf-name">Name:</label>
            <input type="text" id="sf-name" name="name" required placeholder="How is your set called?">
        </div>
        <div>
            <label for="sf-url-name">URL name:</label>
            <input type="text" id="sf-url-name" name="url-name" required disabled
                   placeholder="That's the URL that you set will have, {{ urls.site.set.url(user.name, '[set-url]') }}">
        </div>
                <div>
            <label for="sf-description">Description:</label>
            <textarea id="sf-description" name="description" rows="5"
                      placeholder="Enter a nice description for the set"></textarea>
        </div>
        <div>
            <label for="sf-date">Release date:</label>
            <input type="date" id="sf-date" name="date">
        </div>
        <div>
            <button id="sf-send" name="send">Create</button>
        </div>
    </form>
</div>