<div id="edit-set">
    <h1>Edit Set</h1>
    <form id="edit-set-form" class="dd-form">
        <div>
            <label for="sf-name">Name:</label>
            <input type="text" id="sf-name" name="name" required placeholder="How is your set called?" value="{{ set.name_friendly }}">
        </div>
        <div>
            <label for="sf-url-name">URL name:</label>
            <input type="text" id="sf-url-name" name="url-name" required disabled
                   placeholder="That's the URL that you set will have, {{ urls.site.set.url(user.name, '[set-url]') }}" value="{{ set.name }}">
        </div>
        <div>
            <label for="sf-description">Description:</label>
            <textarea id="sf-description" name="description" rows="5"
                      placeholder="Enter a nice description for the set">{{ set.description }}</textarea>
        </div>
        <div>
            <label for="sf-date">Release date:</label>
            <input type="date" id="sf-date" name="date" value="{{ set.release_date }}">
        </div>
        <div>
            <button id="sf-send" name="send">Save</button>
        </div>
    </form>
</div>