<div id="set">
    <h1>{{ set.name_friendly if set.name_friendly else set.name }}</h1>
    <h2>{{ set.author.name }}</h2>
    <div class="set-info">
        <div class="set-release-date">{{ set.release_date }}</div>
        <div class="set-description">
            {{ set.description }}
        </div>
    </div>
    <div class="set-songs songs-holder">
    </div>
</div>