<div id="signup">
    <h1>Sign-Up</h1>
    <form id="signup-form" class="dd-form">
        <div id="sf-user-exists" class="info">
            Username and/or email already exist.
        </div>
        <div>
            <label for="sf-username">Username:</label>
            <input type="text" id="sf-username" name="name" required>
        </div>
        <div>
            <label for="sf-email">E-mail:</label>
            <input type="email" id="sf-email" name="email" required>
        </div>
        <div>
            <label for="sf-password">Password:</label>
            <input type="password" id="sf-password" name="password" required>
        </div>
        <div>
            <label for="sf-password-repeat">Repeat password:</label>
            <input type="password" id="sf-password-repeat" name="password-repeat" required>
        </div>
        <div id="sf-invalid-password" class="invalid-input">
            Passwords don't match
        </div>
        <div>
            <button id="sf-send" type="submit">Sign-Up</button>
        </div>
    </form>
</div>
