<div id="upload">
    <h1>Upload</h1>
    <form id="upload-form" class="dd-form">
        <div id="uf-error" class="invalid-input">
                    <span>
                        An error occurred:
                    </span>
            <span id="uf-error-info"></span>
        </div>

        <div id="uf-info" class="info">
            The song was uploaded and is being processed. This page will reload automatically.
        </div>
        <div>
            <label for="uf-name">Name:</label>
            <input type="text" id="uf-name" name="name" required placeholder="How is your song called?">
        </div>
        <div>
            <label for="uf-url-name">URL name:</label>
            <input type="text" id="uf-url-name" name="url-name" required disabled
                   placeholder="That's the URL that you song will have, {{ urls.this }}/{{ user.name }}/[song-url]">
        </div>
        <div>
            <label for="uf-file">File:</label>
            <input type="file" id="uf-file" name="file" required>
        </div>
        <div>
            <label for="uf-image">Image:</label>
            <input type="file" id="uf-image" name="image">
        </div>
        <div>
            <label for="uf-description">Description:</label>
            <textarea id="uf-description" name="description" rows="5"
                      placeholder="Enter a nice description for the song"></textarea>
        </div>
        <div>
            <label for="uf-date">Release date:</label>
            <input type="date" id="uf-date" name="date">
        </div>
        <div>
            <button id="uf-send" name="send">Upload</button>
        </div>
    </form>
</div>
