<div id="user-page">
    <div>
        <h1>{{ user_page.name }}</h1>
    </div>
    <div>
        <h2>Songs</h2>
        <div class="songs-holder"></div>
    </div>
    <div>
        <h2>Sets</h2>
        <div class="sets-holder"></div>
    </div>
</div>
