{% extends 'snippets/popup.njk' %}

{% block popupheader %}
    <h1>Add song "{{ song.name_friendly if song.name_friendly else song.name }}" to set</h1>
{% endblock %}

{% block popupcontent %}
    <ul>
        {% if sets %}
            {% for set in sets %}
                <li>
                    <button class="popup-song-to-set" data-set-id="{{ set.id }}">
                        {{ set.name_friendly if set.name_friendly else set.name }}
                    </button>
                </li>
            {% endfor %}
        {% endif %}
    </ul>

{% endblock %}