<div class="popup-holder">
    <div class="popup-header">
        {% block popupheader %}
            <h1></h1>
        {% endblock %}
    </div>
    <div class="popup-content">
        {% block popupcontent %}
        {% endblock %}
    </div>
</div>