<div class="set-item">
    <div class="set-name">
        {% set setName = set.name_friendly if set.name_friendly else set.name %}
        {% if url_show.set %}
            <a href="{{ set.url.set }}">
                {{ setName }}
            </a>
        {% else %}
            {{ setName }}
        {% endif %}
    </div>
    <div class="set-author">
        {% if url_show.user %}
            <a href="{{ set.url.user }}">
                {{ set.author }}
            </a>
        {% else %}
            {{ set.author }}
        {% endif %}
    </div>
    {% if set.author_id === +user.id %}
        <div class="set-edit">
            <a href="{{ urls.site.set.edit.url(set.id) }}">edit</a>
        </div>
    {% endif %}
</div>