<div class="song-item">
    <div class="song-preview" data-song-source="{{ song.source.source }}"
         data-song-name="{{ song.name_friendly if song.name_friendly else song.name }}">
        <img src="{{ song.image if song.image else urls.site.files.no_img }}">
    </div>
    <div class="song-info">

        <div class="song-name">
            {% set songName = song.name_friendly if song.name_friendly else song.name %}
            {% if url_show.song %}
                <a href="{{ song.url.song }}">
                    {{ songName }}
                </a>
            {% else %}
                {{ songName }}
            {% endif %}
        </div>

        <div class="song-author">
            {% if url_show.user %}
                <a href="{{ song.url.user }}">
                    {{ song.author }}
                </a>
            {% else %}
                {{ song.author }}
            {% endif %}
        </div>

        {% if song.author_id === +user.id %}
            <div class="song-edit"><a href="{{ urls.site.song.edit.url(song.id) }}">edit</a></div>
        {% endif %}

        {% if user.id and not set_info %}
            <div class="song-add-set" data-song-name="{{ song.name }}"
                 data-song-name-friendly="{{ song.name_friendly }}" data-song-id="{{ song.id }}">
                <button>Add to set</button>
            </div>
        {% endif %}

        {% if user.id and set_info and song.author_id === +user.id %}
            <div class="song-remove-set" data-set-id="{{ set_info.id }}" data-song-id="{{ song.id }}">
                <button>Remove from set</button>
            </div>
        {% endif %}
    </div>
</div>