<div id="fp-wrapper">
    <div id="fp-info">
        <div id="fp-song-name"></div>
    </div>
    <div id="fp-controls">
        <div id="fp-media-control">
            <div id="fp-play-pause" title="Play/Pause"></div>
            <div id="fp-next" title="Next"></div>
        </div>
        <div id="fp-progress-wrapper">
            <div id="fp-progress"></div>
        </div>
        <input id="fp-volume" type="range" title="Volume" min="0" max="1" step="0.01">
    </div>
</div>