<div class="header-wrapper">
    <div class="logo">
        <a href="/">dd-player</a>
    </div>
    <div class="buttons">
        {% if user.id %}
            <a href="{{ urls.site.upload.url }}" class="button-style">Upload</a>
            <a href="{{ urls.site.set.new.url }}" class="button-style">New set</a>
            <a href="{{ urls.site.logout.url }}" class="button-style">Logout</a>
        {% else %}
            <a href="{{ urls.site.signup.url }}" class="button-style">Signup</a>
            <a href="{{ urls.site.login.url }}" class="button-style">Login</a>
        {% endif %}
    </div>
</div>