{% block header %}
    <header>
        {% include 'includes/header.njk' %}
    </header>
{% endblock %}

{% block main %}
<main>
</main>
{% endblock %}

{% block popup %}
    <div id="popup-wrapper"></div>
{% endblock %}

{% block footer %}
    <footer>
        {% include 'includes/footer-player.njk' %}
    </footer>
{% endblock %}